@use "@angular/material" as mat;

:host {
  .task-name-field {
    @include mat.form-field-overrides(
      (
        container-text-size: 20px,
        container-text-weight: 600,
        container-text-line-height: 25px,
      )
    );
  }

  .task-description-field {
    @include mat.form-field-overrides(
      (
        container-text-size: 13px,
        container-text-weight: 400,
        container-text-line-height: 22px,
      )
    );
  }

  @include mat.icon-overrides(
      (
        color: color-mix(in srgb, var(--mat-sys-on-surface) 50%, var(--mat-sys-surface)),
      )
  );

  @include mat.button-overrides(
    (
      text-label-text-color: var(--mat-sys-on-surface),
    )
  );

  .is-adding {
    button[type="submit"] {
      @include mat.button-overrides(
        (
          filled-container-color: transparent,
          filled-disabled-container-color: transparent,
        )
      );
    }
  }
}
