@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 100 900;
  font-stretch: 62.5% 100%;
  src: url("/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
}
