@use "tailwind";
@use "@angular/material" as mat;
@use "colors" as colors;
@use "fonts" as fonts;
@use "sass:map";

/* Material Colors */
//noinspection SassScssUnresolvedMixin
:root {
  @include mat.theme(
    (
      color: (
        primary: colors.$primary-palette,
        tertiary: colors.$tertiary-palette,
        theme-type: color-scheme,
      ),
      density: 0,
    )
  );
}

/* Material Typography */
//noinspection SassScssUnresolvedMixin
:root {
  @include mat.theme(
    (
      typography: (
        brand-family: (
          "Noto Sans",
          sans-serif,
        ),
        plain-family: (
          "Noto Sans",
          sans-serif,
        ),
      ),
    )
  );
}

/* Material Components */
:root {
  @include mat.button-overrides(
    (
      filled-container-shape: 5px,
      text-container-shape: 5px,
    )
  );

  @include mat.dialog-overrides(
    (
      container-shape: 10px,
      with-actions-content-padding: 0px,
    )
  );

  @include mat.form-field-overrides(
    (
      filled-container-color: var(--mat-sys-surface),
    )
  );
}

/* Root Styles */
:root {
  color-scheme: light dark;

  &.DEFAULT-LIGHT-theme {
    color-scheme: light;
  }

  &.DEFAULT-DARK-theme {
    color-scheme: dark;
  }

  @apply bg-transparent;
  @apply text-on-surface;
  @apply font-body-lg;
  @apply selection:text-on-primary selection:bg-primary;
}

h1 {
  @apply font-display-md;
  @apply font-bold;
}

h2 {
  @apply font-headline-sm;
}

h3 {
  @apply font-headline-sm;
}

h4 {
  @apply font-title-lg;
}

h5 {
  @apply font-title-md;
}

p {
  @apply whitespace-pre-line;
}

blockquote {
  @apply py-4 ps-6;
  @apply text-on-surface-variant italic md:text-lg;
  @apply border-s-primary border-s-4 border-solid;
  @apply rounded-s-xs;

  p {
    @apply flex flex-col gap-3;
  }
}
